/*    Desktop     */
#bdy {
   background-color: lightpink; margin-left: 15%; margin-right: 15%;
}
.titr0 {
   font-size: 30px; border: solid 2px; border-color: green;
 }
/* @media for mobile version */
@media only screen and (max-width: 350px)
{
   #bdy {
      background-color: cyan;
   }
   .titr0 {
      font-size: 25px; border: solid 2px; 
      border-color: yellow;
   }
}
/* ----------------------------------------------------------*/
