
/* @media for mobile version */
@media only screen and (orientation: portrait)
{
   body {
      background-image   : url("kayden.jpg");
      background-repeat: no-repeat;
      display: block;
   }
   
   .t-h4 {
      font-size: 18px;
      text-align: left;
      color: black;
      text-shadow: 1px 5px 1px red;
   }
   
   #nav0 {
      margin-left: -16%;
   }

   #nav0 ul {
      float: left;
   }

   #nav0 ul li{
      overflow: hidden;
      padding: 1px;
      border: solid 2px;
      border-radius: 8px;
      border-color: yellow;
      background-color: black;
      text-align: center;
   }

   #nav0 a {
      color: yellow;
      text-decoration: none;
   }

   #nav0 li:hover {
      background-color: white;
      border-color: red;
   }
   
   #nav0 a:hover {
       color: red;  
   }
   
}

/*   *********************** MOBIL-PART-LANDSCAP ***********************    */
@media only screen 
   and (orientation: landscape)
   and (min-width: 400px)
{
   body {
      background-image   : url("kayd.jpg");
      background-repeat: no-repeat;
      background-position: static;
   }
   
   #fldCont {
      margin-left: 8%; margin-right: 8%;
   }
   
   .t-h4 {
     font-size: 25px; color: cyan;
     text-shadow: 2px 8px 2px red;
   }
   .dev-nom {
     font-size: 22px;
     text-shadow: 2px 8px 2px red;
     margin-left: -20px;
   }

   #nav0 ul {
    float: left;
   }

   #nav0 ul li{
      overflow: hidden;
      padding: 1px;
      border: solid 2px;
      border-radius: 8px;
      border-color: yellow;
      background-color: black;
      text-align: center;
   }

   #nav0 a {
      color: yellow;
      text-decoration: none;
   }

   #nav0 li:hover {
      background-color: red;
      border-color: black;
   }
   
   #nav0 a:hover {
       color: black;  
   }

}

/*   *********************** DESKTOP-PART ***********************    */
/*   *********************** DESKTOP-PART ***********************    */
@media only screen 
   and (orientation: landscape)
   and (min-width: 1280px)
{
   body {
      background-image   : url("kayd.jpg");
      background-repeat: no-repeat;
      background-position: left;
   }
   
   #fldCont {
      margin-left: 15%; margin-right: 15%;
      text-shadow: 2px 8px 2px black;
   }
   
   .t-h4 {
     font-size: 40px; color: yellow;
     margin-left: 15%;
   }
   .dev-nom {
     font-size: 20px;
     text-shadow: 5px 18px 5px yellow;
   }

   #nav0 ul {
    float: left;
   }

   #nav0 ul li{
      overflow: hidden;
      padding: 1px;
      border: solid 2px;
      border-radius: 8px;
      border-color: yellow;
      background-color: black;
      text-align: center;
   }

   #nav0 a {
      color: yellow;
      text-decoration: none;
   }

   #nav0 li:hover {
      background-color: white;
      border-color: red;
   }
   
   #nav0 a:hover {
       color: red;  
   }

}
