/* 3040 x 1440 */
/* @media for mobile version */
@media only screen and (width: 290px)
{
   #bdy {
      background-color: cyan;
   }
   .titr0 {
      font-size: 25px;
      border: solid 2px; 
      border-color: yellow;
   }
}
/* ----------------------------------------------------------*/
/*    Desktop     */
@media only screen and (orientation: portrait)
{
   #bdy {
      background-color: cyan;
   }
   
   .titr0 {
      font-size: 15px;
      border: solid 2px; 
      border-color: red;
   }
}
